<template>
    <section>
        <h1 class="text-center">List Dog</h1>
        <v-text-field
            density="compact"
            variant="outlined"
            label="Search Dog"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
            v-model="search"
        ></v-text-field>
        <h4 v-if="loading" class="text-center mt-5">loading...</h4>
        <div v-else class="mt-5">
            <v-row>
                <v-col cols="12" sm="6" md="4" lg="3" v-for="(item, index) in fillteredListDog" :key="index">
                    <card-dog :name="item"/>
                </v-col>
            </v-row>
        </div>
    </section>
</template>

<script setup lang="ts">

const dogStore = useDogStore()


await useAsyncData(
  () => dogStore.getListDog()
)

const search = ref<string>('')
const loading = ref<boolean>(false)


const fillteredListDog = computed(() => {
    return dogStore.mainBreeds.filter((dog) => dog.toLowerCase().includes(search.value.toLowerCase()))
})

watch(search, () => {
  loading.value = true
  setTimeout(() => {
    loading.value = false
  }, 1500);
})

</script>

<style scoped>

</style>