<template>
    <v-card
        class="mx-auto"
        max-width="320"
        min-height="460"
        elevation="8"
    >
        <v-img
            class="align-end text-white"
            height="300"
            :src="dogImage?.message"
            alt="Top 10 Australian beaches"
            cover
        >
        </v-img>
        <v-card-title>{{ props.name }}</v-card-title>

        <v-container>
            <v-btn color="primary" class="m-2 w-100" @click="show = !show" v-if="dogStore.listAllDog[props.name]?.length>0">
                See Sub Breeds
            </v-btn>
            <v-btn color="green" class="mt-2 w-100">
                See Detail
            </v-btn>
        </v-container>
        <v-dialog v-model="show" width="400">
            <v-card>
                <v-container>
                    <h2 class="text-center mb-3">List Sub Breed of {{ props.name }}</h2>
                    <card-sub-dog v-for="(subDog,index) in dogStore.listAllDog[props.name]" :key="index" :name="subDog" class="mb-5"/>
                    <v-btn color="primary" block @click="show = false" width="auto">Close Dialog</v-btn>
                </v-container>
            </v-card>
        </v-dialog>
        
    </v-card>
</template>

<script setup lang="ts">


const props = defineProps<{
    name: string;
}>();

const show = ref(false);

const dogStore = useDogStore()


const { data: dogImage } = await useFetch(`https://dog.ceo/api/breed/${props.name}/images/random`);



const router = useRouter()

function moveToDetail(mainDog: string,subDog : string) {
  if (subDog) router.push(`/dog/${mainDog}/${subDog}`)

  else router.push(`/dog/${mainDog}`)

}
</script>

<style scoped>

</style>