<template>
    <v-card elevation="0" border="md" rounded="md">
        <v-container class="d-flex justify-space-between flex-wrap">
            <h4>{{ props.name }}</h4>
            <v-btn color="green" @click="$emit('toDetail')">See Detail</v-btn>
        </v-container>
    </v-card>
</template>

<script setup lang="ts">
const props = defineProps<{
    name: string;
}>();
</script>

<style scoped>

</style>