<template>
    <v-footer
      class="bg-primary text-center flex-0-0 flex justify-center"
    >

      <div>
        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
      </div>
    </v-footer>
  </template>

<script setup lang="ts">

</script>

<style scoped>

</style>