<template>
    <v-app-bar :elevation="0" color="primary">
        <v-container class="d-flex jusspa">
            <v-app-bar-nav-icon class="hidden-lg flex-0-0" @click="toggleExtensionAppBar()"></v-app-bar-nav-icon>
            <v-app-bar-title class="d-flex align-center justify-end justify-md-end justify-sm-end justify-lg-start">
                <div class="d-flex items-center ">
                    <NuxtLink to="/" class="text-decoration-none text-white text-h5">Dog Catalog</NuxtLink>
                    <div class="hidden-md-and-down textsm">
                        <NuxtLink to="/dog" class="text-decoration-none text-white text-h6 px-6">Dog List</NuxtLink>
                    </div>
                </div>
            </v-app-bar-title>

        </v-container>
        
        <template v-slot:extension v-if="showExtensionAppBar">
            <div class="d-flex flex-column flex-grow-1">
                <v-btn text>Dog List</v-btn>
                <v-btn text>Git Repository</v-btn>
            </div>
        </template>

    </v-app-bar>
</template>

<script setup lang="ts">
const showExtensionAppBar = ref<boolean>(false);

const toggleExtensionAppBar = () => {
    showExtensionAppBar.value = !showExtensionAppBar.value;
}
</script>

<style>
.v-toolbar__extension {
    /* height: 100px !important; */
    align-items: end !important;
}
</style>


