<template>
    <v-app>
        <Navbar />
        <v-container class="flex-grow-1 mt-16">    
            <slot />
        </v-container>
        
        <Footer class="flex-shrink-0"/>
    </v-app>
</template>